# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.editorconfig

## front-end/
.firebaserc
dist/
front-end/src/app/assets/mockData
firebase.json

# dependencies
front-end/node_modules

# e2e
front-end/e2e/

# DS store
.DS_Store
