<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Oviedo Fire iOS Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16A90AE21F560C7C00F50919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A90AF61F560C7C00F50919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A90B011F560C7C00F50919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
