<!doctype html>
<!--

FFFFFFFFF  IIIIIIIIIII  RRRRRRRRR    EEEEEEEEEEEEE
F:::::::F  I:::::::::I  R::::::::R   E:::::::::::E
F:::FFFFF  IIII:::IIII  R::RRR:::R   EE:::EEEE:::E
F:::F         I:::I     R::R  R::R     E:::E  EEEE
F:::FFF       I:::I     R::R  R::R     E:::E
F:::FFF       I:::I     R::RRR::R      E::::EEEE
F:::F         I:::I     R::::::R       E::::EEEE
F:::F         I:::I     R::RR::R       E:::E
F:::F         I:::I     R::R R::R      E:::E  EEEE
F:::F      IIII:::IIII  R::R  R::R    EE::EEEE:::E
F:::F      I:::::::::I  R::R   R::R   E::::::::::E
FFFFF      IIIIIIIIIII  RRRR   RRRR   EEEEEEEEEEEE

-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="A layout example with a side menu that hides on mobile, just like the Pure website.">
  <title>Oviedo Fire &ndash; Home Page</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


  <div id="login" *ngIf="(user | async)?.uid == undefined">
  <div style="background-color: #6c0505; color: white; text-align: center; font-size: 3em; padding-top: 5vh; padding-bottom: 5vh">
    <i class="fa fa-fire-extinguisher" style="border: 2px solid #EAEAEA;padding: 7px 8px;border-radius: 50%"></i><span>&nbsp;Oviedo Fire</span>
  </div>
  <!--<div class="pure-u-1" style="height: 20vh; text-align: center; background-color: #6c0505; color: white"><h1><i class="fa fa-fire-extinguisher"></i>Oviedo Fire</h1></div>-->
  <form class="pure-form pure-form-aligned" style="text-align: center; padding-top: 5vh">
    <fieldset>
      <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input #email id="email" type="email" placeholder="Email Address">
      </div>
      <div class="pure-control-group">
        <label for="password">Password</label>
        <input #password id="password" type="password" placeholder="Password">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary"
                (click)="login(email.value, password.value)">Login</button>
      </div>
    </fieldset>
  </form>
</div>

<div id="layout" *ngIf="(user | async)?.uid">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>

  <div>
    <div id="menu" class>
      <div class="pure-menu">
        <a class="pure-menu-heading" uiSref="home">
          <i class="fa fa-fire-extinguisher"></i>&nbsp;Oviedo Fire
        </a>

        <ul class="pure-menu-list">
          <!--<li class="pure-menu-item"><br/></li>-->
          <!--<li class="pure-menu-item"><br/></li>-->
          <!--<li class="pure-menu-item"><span style="padding: 1em; color: #9a9810">Welcome,</span></li>-->
          <!--<li class="pure-menu-item"><span style="padding: 1em; color: white">Nichlaus Dorey</span>&lt;!&ndash;span>{{user.name}}</span&ndash;&gt;</li>-->
          <!--<li class="pure-menu-item"><br/></li>-->

          <div class="pure-menu-scrollable" style="overflow: hidden">
            <li></li>
            <li class="pure-menu-item {{(this.checkState() === 'home') ? 'active' : ''}}">
              <a class="pure-menu-link"
                 uiSref="home">
                <i class="fa fa-home"></i>
                <span>&nbsp;Home</span>
              </a>
            </li>
            <li class="pure-menu-item {{(this.checkState() === 'reports') ? 'active' : ''}}">
              <a uiSref="report" class="pure-menu-link">
                <i class="fa fa-table"></i>
                <span>&nbsp;Reports</span>
              </a>
            </li>
            <li class="pure-menu-item {{(this.checkState() === 'statistics') ? 'active' : ''}}">
              <a uiSref="statistic" class="pure-menu-link">
                <i class="fa fa-bar-chart"></i>
                <span>&nbsp;Statistics</span>
              </a>
            </li>
            <li class="pure-menu-item" (click)="this.editList = !this.editList">
              <a class="pure-menu-link" [ngSwitch]="this.editList">
                <i class="pure-u-1-8 fa fa-edit"></i>
                <span class="pure-u-3-4">&nbsp;Edit</span>
                <i class="pure-u-1-8 fa fa-chevron-right" *ngSwitchDefault></i>
                <i class="pure-u-1-8 fa fa-chevron-down" *ngSwitchCase="true"></i>
              </a>
            </li>
            <ul *ngIf="this.editList" style="background: #6c0505">
              <li class="pure-menu-item {{(this.checkState() === 'eEquipment') ? 'active' : ''}}">
                <a uiSref="eEquipment" class="pure-menu-link">Equipment</a>
              </li>
              <li class="pure-menu-item {{(this.checkState() === 'eReport') ? 'active' : ''}}">
                <a uiSref="eReport" class="pure-menu-link">Reports</a>
              </li>
              <li class="pure-menu-item {{(this.checkState() === 'eTruck') ? 'active' : ''}}">
                <a uiSref="eTruck" class="pure-menu-link">Trucks</a>
              </li>
              <li class="pure-menu-item {{(this.checkState() === 'eUser') ? 'active' : ''}}">
                <a uiSref="eUser" class="pure-menu-link">Users</a>
              </li>
            </ul>
          </div>
          <li class="pure-menu-item {{(this.checkState() === 'extras') ? 'active' : ''}}">
            <a uiSref="extra" class="pure-menu-link">
              <i class="fa fa-cogs"></i>
              <span>&nbsp;Extras</span>
            </a>
          </li>
          <li class="pure-menu-item" (click)="logout()">
            <a uiSref="logout" class="pure-menu-link">
              <i class="fa fa-power-off"></i>
              <span>&nbsp;Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="main">
      <ui-view></ui-view>
    </div>
  </div>
</div>
