<div [ngSwitch]="viewType">
  <ng-content select=".item-table-options-view" *ngSwitchCase="'view'"></ng-content>
  <ng-content select=".item-table-options-edit" *ngSwitchCase="'edit'"></ng-content>
  <ng-content select=".item-table-options-default" *ngSwitchDefault></ng-content>
</div>
<div [ngSwitch]="dataType">
  <ng-template ngSwitchCase="report">
    <div [ngSwitch]="viewType">
      <div *ngSwitchCase="'view'">
        <ngx-datatable
          #myTable
          class="table"
          (select)="onclick()($event, myTable)"
          [selectionType]="'single'"
          [columnMode]="'flex'"
          [rowHeight]="'auto'"
          [rows]="rows">
          <ngx-datatable-column [name]="'Report'" [prop]="'template.title'" [flexGrow]="2"></ngx-datatable-column>
          <ngx-datatable-column [name]="'Frequency'" [prop]="'interval.frequency'"
                                [flexGrow]="1"></ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div *ngSwitchCase="'edit'">
        <div class="tile pure-form pure-form-stacked editing">
          <div class="pure-u-11-24 pure-u-sm-1" *ngIf="temp.template">
            <label for="text">Title</label>
            <input #text id="text" type="text" [(ngModel)]="temp.template.title"/>
          </div>
          <div class="pure-u-5-24 pure-u-sm-1" *ngIf="temp.interval">
            <label for="type">Schedule</label>
            <select #schedule id="type" [(ngModel)]="temp.interval.frequency"
                    (change)="temp.schedule = schedule.state">
              <option value="Daily">Daily</option>
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
            </select>
          </div>
          <div class="pure-u-1" *ngIf="temp.template">
            <ngx-datatable
              style="max-height: 25vh"
              #myTable
              *ngIf="temp.template.subSections"
              [rows]="temp.template.subSections"
              [rowHeight]="'auto'"
              [selectionType]="'single'"
              [selected]="selected"
              (select)="onclick()($event, myTable)"
              [columnMode]="'flex'">
              <ngx-datatable-column [name]="'Section'" [prop]="'title'" [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <div style="display: flex; justify-content: space-between;">
                    <span>Section</span>
                    <span>
                          <button class="close" (click)="addSection()">
                            <i class="fa fa-plus"></i>&nbsp;add&nbsp;&nbsp;
                          </button>
                        </span>
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div (dblclick)="editing = editing === rowIndex ? -1 : rowIndex">
                    <span *ngIf="editing === rowIndex">
                      <input class="mock-mat" [(ngModel)]="row.title" placeholder="Add a name"/>
                    </span>
                    <span *ngIf="editing !== rowIndex">
                      {{value}}
                    </span>
                  </div>
                  <!--<input (blur)="updateValue($event, 'title', rowIndex)" type="text" [value]="value"-->
                  <!--style="padding-right: 1em" [(ngModel)]="row.title"/>-->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <ngx-datatable
              #otherTable
              style="max-height: 25vh"
              *ngIf="selected[0]"
              [rows]="selected[0].inputElements"
              [rowHeight]="'auto'"
              [selectionType]="'single'"
              [columnMode]="'flex'">
              <ngx-datatable-column [name]="'Caption'" [prop]="'caption'" [flexGrow]="2">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <input (blur)="updateValue($event, 'caption', rowIndex)" type="text" [value]="value"
                         style="padding-right: 1em" [(ngModel)]="row.caption"/>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [prop]="'type'" [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <div style="display: flex; justify-content: space-between">
                    <span>type</span>
                    <span>
                          <button class="close" (click)="add()">
                            <i class="fa fa-plus"></i>&nbsp;add&nbsp;&nbsp;
                          </button>
                        </span>
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div style="display: flex; justify-content: space-between;">
                    <select id="type" (change)="updateValue($event, 'type', rowIndex)" [value]="value"
                            [(ngModel)]="row.type">
                      <option value="pmr">Present/Missing/Repair</option>
                      <option value="pf">Pass/Fail</option>
                      <option value="num">Number</option>
                      <option value="per">Percent</option>
                    </select>
                    <button class="close" (click)="remove(rowIndex)"><i class="fa fa-times"></i></button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <ng-content select=".item-table-options-default" *ngSwitchDefault></ng-content>
      <!--<div class="pure-u-11-24">-->
      <!--<img src="https://api.qrserver.com/v1/create-qr-code/?data=ATV46ATVS&amp;size=100x100" alt="" title="" />-->
      <!--</div>-->
    </div>
  </ng-template>
  <ng-template ngSwitchCase="truck">
    <div [ngSwitch]="viewType">
      <ng-content select=".item-table-body-view" *ngSwitchCase="'view'"></ng-content>
      <ng-content select=".item-table-body-edit" *ngSwitchCase="'edit'"></ng-content>
      <ng-content select=".item-table-options-default" *ngSwitchDefault></ng-content>
    </div>

  </ng-template>
  <ng-template ngSwitchCase="user">
    <div [ngSwitch]="viewType">
      <ngx-datatable
        #myTable
        class="table"
        [rows]="rows"
        [rowHeight]="'auto'"
        [columns]="heading"
        [columnMode]="'flex'"
        (select)="onclick()($event, table)"
        *ngSwitchCase="'view'"
        [selectionType]="'single'">
      </ngx-datatable>
      <div *ngSwitchCase="'edit'" class="tile pure-form pure-form-stacked editing"
           style="height: calc(100vh - 250px)">
        <fieldset>
          <div class="pure-g" style="letter-spacing: 0">
            <div class="pure-u-11-24 pure-u-sm-1">
              <label for="first-name">First Name</label>
              <input #firstName id="first-name" type="text" [ngModel]="temp.firstName"
                     (keyup)="keyup('firstName', firstName.value)">
            </div>
            <div class="pure-u-11-24 pure-u-sm-1">
              <label for="last-name">Last Name</label>
              <input #lastName id="last-name" type="text" [ngModel]="temp.lastName"
                     (keyup)="keyup('lastName', lastName.value)">
            </div>
            <div class="pure-u-11-24 pure-u-sm-1">
              <label for="email">Email</label>
              <input #email id="email" type="text" [ngModel]="temp.email" (keyup)="keyup('email', email.value)">
            </div>

            <div class="pure-u-11-24 pure-u-sm-1" style="display: flex; justify-content: space-between">
              <div>
                <label for="type">Type</label>
                <select #type id="type" [ngModel]="temp.type" (change)="temp.type = type.value">
                  <option>user</option>
                  <option>administrator</option>
                </select>
              </div>
              <div class="pure-form">
                <label>Alert?</label>
                <i class="fa fa-lg {{temp.alert ? 'fa-check-square-o' : 'fa-square-o'}}"
                   (click)="temp.alert = !temp.alert"></i>
              </div>
            </div>
          </div>
          <br/>
          <button type="submit" class="accept"
                  [disabled]="loading || !(temp.firstName && temp.lastName && temp.type && temp.email)"
                  (click)="submit()">
            <i class="fa fa-spinner fa-spin" *ngIf="loading && !temp.original"></i>
            Submit
          </button>
          <button type="submit" class="accept" (click)="doDelete()" *ngIf="temp.original" [disabled]="loading">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            Delete
          </button>
        </fieldset>
      </div>
      <div *ngSwitchDefault> default</div>
    </div>
    <div *ngSwitchDefault> default</div>
  </ng-template>
  <ng-template ngSwitchDefault>
    <ngx-datatable
      #myTable
      *ngIf="!row"
      class='table'
      [rows]="rows"
      [groupRowsBy]="style.group"
      [columnMode]="'force'"
      [scrollbarH]="false"
      [footerHeight]="0"
      [rowHeight]="'auto'"
      (select)="onclick()($event, myTable)"
      [selectionType]="style.selectType"
      [groupExpansionDefault]="true">
      <!-- Group Header Template -->
      <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div style="padding-left:5px;"
               (click)="toggleExpandGroup(group)">
              <span
                title="Expand/Collapse Group">
                <b><i class="fa {{expanded ? 'fa-chevron-down' : 'fa-chevron-right'}}" style="font-size: .7em"></i>&nbsp;{{group.value[0][style.group]}}</b>
              </span>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column [name]="style.thing"
                            [prop]="(style.thingProp) ? style.thingProp : style.thing"
                            [flexGrow]="3"></ngx-datatable-column>
      <ngx-datatable-column *ngFor="let x of style.days" [name]="x[0]" [prop]="x" [maxWidth]="75" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                     let-group="group">
          <i class="fa {{getCheckBox(value)}}">{{getCheckBox(value) === '' ? value : ''}}</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngFor="let x of style.props" [name]="x.name" [prop]="(x.prop) ? x.prop : x.name"
                            [flexGrow]="2">
      </ngx-datatable-column>
    </ngx-datatable>
  </ng-template>
</div>
